/* global colors */
body {
  color: #cdd6f4;
  background: #1e1e2e;
}

body a {
  color: #a6e3a1;
}

/* Header and Top Nav Styles */
.header {
  display: flex;
}

.header div {
  flex: 1;
}

nav a {
  color: #cdd6f4;
}

nav a:hover {
  color: #a6e3a1;
}

.current {
  color: #a6e3a1;
}
